body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("greetingBG.png"); /* đường dẫn tới ảnh */
  background-size: cover; /* ảnh phủ toàn màn hình */
  background-position: center; /* căn giữa ảnh */
  background-repeat: no-repeat; /* không lặp ảnh */
  /* max-width: 400px; */
  background-color: #f03f6f;
}

#card {
  width: 0;
  height: 0;
  border-top: 100px solid #e8f4f8;
  border-right: 170px solid #c1e1ec;
  border-bottom: 100px solid #d4ebf2;
  border-left: 170px solid #c1e1ec;
  box-shadow: 0 0 10px rgba(255, 105, 180, 0.6),
    0 0 20px rgba(255, 105, 180, 0.4), 0 0 30px rgba(255, 105, 180, 0.2);
  scale: 0.4;
  margin-top: -50px;
}

.heart {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  transform: translate(-50%, -50%) rotate(45deg);
  animation: heartbeat 1.4s infinite;
}

.heart:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateX(-50%);
  border-radius: 50%;
}

@keyframes heartbeat {
  0% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  25% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  30% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  50% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.2);
  }
  70% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1.4);
  }
  100% {
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
}

.heart1 {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  transform: translate(-50%, -160%) rotate(45deg);
}

.heart1:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart1:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateX(-50%);
  border-radius: 50%;
}

.heart1 {
  animation: heart1 2.5s ease-out 1s infinite;
}

@keyframes heart1 {
  0% {
    transform: translateY(-200%) translateX(0) scale(0.25) rotate(45deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-400%) translateX(0) scale(1) rotate(50deg);
    opacity: 0;
  }
}

.heart2 {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  transform: translate(-50%, -250%) rotate(45deg);
}

.heart2:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart2:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateX(-50%);
  border-radius: 50%;
}

.heart2 {
  animation: heart2 4s ease-out 1s infinite;
}

@keyframes heart2 {
  0% {
    transform: translateY(-300%) translateX(-100%) scale(0.25) rotate(-20deg);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-500%) translateX(-10%) scale(1) rotate(45deg);
    opacity: 0;
  }
}

.heart3 {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  transform: translate(-50%, -350%) rotate(45deg);
}

.heart3:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart3:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateX(-50%);
  border-radius: 50%;
}

.heart3 {
  animation: heart3 2s ease-out 1s infinite;
}

@keyframes heart3 {
  0% {
    transform: translateY(-430%) translateX(-100%) scale(0.25) rotate(20deg);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-650%) translateX(-10%) scale(1) rotate(60deg);
    opacity: 0;
  }
}

.heart4 {
  width: 32px;
  height: 32px;
  background-color: #ff1414;
  transform: translate(-50%, -450%) rotate(45deg);
}

.heart4:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateY(-50%);
  border-radius: 50%;
}

.heart4:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ff1414;
  transform: translateX(-50%);
  border-radius: 50%;
}

.heart4 {
  animation: heart4 2.3s ease-out 1s infinite;
}

@keyframes heart4 {
  0% {
    transform: translateY(-450%) translateX(-100%) scale(0.25) rotate(45deg);
    opacity: 0.2;
  }

  100% {
    transform: translateY(-750%) translateX(-10%) scale(1) rotate(80deg);
    opacity: 0;
  }
}

/* confetti */

@keyframes confetti-slow {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(25px, 105vh, 0) rotateX(360deg) rotateY(180deg);
  }
}

@keyframes confetti-medium {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(100px, 105vh, 0) rotateX(100deg) rotateY(360deg);
  }
}

@keyframes confetti-fast {
  0% {
    transform: translate3d(0, 0, 0) rotateX(0) rotateY(0);
  }

  100% {
    transform: translate3d(-50px, 105vh, 0) rotateX(10deg) rotateY(250deg);
  }
}
/* text */

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Fredoka:wght@300&family=Rubik+Bubbles&family=Schoolbell&display=swap");

:root {
  --shadow1: #b5b5b5;
  --shadow2: #333333;
  --shadow3: #222222;
}

/* tẽxt */

.textContainer {
  min-width: 400px;
  align-items: center;
  box-sizing: border-box;
  background: var(--bg-color);
  /* padding: 50px; */
  display: flex;
  flex-direction: column;
}

.typewriter {
  font-family: "Baloo 2", cursive;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: 0;
  top: 0%;
  transform: translateY(-50%);
}
.normalText {
  font-family: "Baloo 2", cursive;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  position: relative;
  margin: 0;
  text-shadow: 0 0 5px #ff5fa8, 0 0 10px #ff5fa8, 0 0 20px #d6007f;
}

.typewriter span {
  color: var(--text-color);
  text-transform: uppercase;
  padding: 10px;
  border-right: solid var(--text-color) 10px;
  animation: cursor 1s ease-in-out infinite;

  text-shadow: 0 0 5px #ff5fa8, 0 0 10px #ff5fa8, 0 0 20px #d6007f;
  border-right: solid var(--text-color) 10px;
}

@keyframes cursor {
  from {
    border-color: var(--text-color);
  }
  to {
    border-color: transparent;
  }
}

@media (max-width: 576px) {
  .typewriter {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .typewriter {
    font-size: 30px;
  }
}
